<div class="container-fluid py-3 z-depth-1 div-modal-default">
  <div class="form-row pull-right">
    <kbd class="green-default"><small>Data do pedido: 10/10/2018</small></kbd>
  </div>

  <div class="form-row">
    <strong class="text-left">Solicitante:</strong>
  </div>

  <div class="form-row">
    <strong class="text-left">Matrícula:</strong>
  </div>

  <div class="form-row">
    <strong class="text-left">Pasta:</strong>
  </div>

  <div class="form-row">
    <strong class="text-left">Curso:</strong>
  </div>

  <div class="form-row">
    <strong class="text-left">Finalidade do pedido:</strong>
  </div>

  <div class="form-row">
    <strong class="text-left">Contatos:</strong>
  </div>
</div>

<div class="py-3 z-depth-1 div-modal-default mt-3">
  <strong class="col-md-3 text-left py-1">Situação:</strong>
</div>

<div class="form-actions text-center py-2">
  <%= link_to 'Atualizar situação', pedido_atestados_path, class: "btn btn-sm btn-primary btn-block" %>
</div>
