<%= simple_form_for(path, method: "get") do |form| %>
  <div id="filtros" class="form-row bg-gray z-depth-1-half mb-3">
    <div class="col-md-3">
      <%= form.input :curso, :as => :select, :label => false, :collection => Curso.all.collect { |curso| [curso.descricao, curso.id] }.uniq, :prompt => 'Selecione um curso', input_html: {:class => "browser-default custom-select", :name => "curso"} %>
    </div>
    <div class="col-md-3">
      <%= form.input :nivel, :as => :select, :label => false, :collection => Curso.all.collect { |curso| [curso.nivelEscolaridade, curso.nivelEscolaridade] }.uniq, :prompt => 'Selecione um nível', input_html: {:class => "browser-default custom-select pull-left", :name => "nivel"} %>
    </div>
    <div class="col-md-3">
      <%= form.input :situacao_id, :as => :select, :label => false, :collection => @situacao_busca.collect { |situacao| [situacao.descricao,
        situacao.id] }.uniq, :prompt => 'Selecione a situação', input_html: {:class => "browser-default custom-select pull-left", :name => "situacao_id"} %>
    </div>
    <div id="btn-filtros">
      <button class="btn btn-sm green-default btn-search btn-circle" type="submit"><i class="fa fa-filter pr-2"></i> Filtrar pedidos</button>
    </div>
  </div>
<% end %>