<%= form_with(model: pedido_atestado, local: true) do |form| %>
  <% if pedido_atestado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido_atestado.errors.count, "error") %> prohibited this pedido_atestado from being saved:</h2>

      <ul>
      <% pedido_atestado.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
