<%= link_to aluno_path, :class => 'link-path' do %>
  <i class="fa fa-user icone" aria-hidden="true"></i><strong><h7> Módulo Aluno</h7></strong>
<% end %>

<%= link_to aluno_path, :class => 'col-sm-1 pull-right btn green-default btn-sm text-white' do %>
  <i class="fa fa-arrow-left pr-1" aria-hidden="true"></i>
  Voltar
<% end %>
<hr/>

<h3 class="py-3">Formulário de Solicitação</h3>

<%= render 'form', pedido_atestado: @pedido_atestado %>
