<h1>Área do Aluno</h1>
<hr/>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to new_pedido_atestado_path, :class => 'btn btn-menu' do %>
    <i class="fa fa-edit fa-5x" aria-hidden="true"></i>
    Solicitar Atestado de Matrícula
  <% end %>
  <%= link_to buscapedido_path, :class => 'btn btn-menu2' do %>
    <i class="fa fa-search fa-5x" aria-hidden="true"></i>
    Buscar Pedido
  <% end %>
</div>

<br><br><br>
<%= link_to 'Voltar', root_path %>