<i class="fa fa-user icone" aria-hidden="true"></i><strong><h7> Módulo Aluno</h7></strong>
<%= link_to root_path, :class => 'col-sm-1 pull-right btn green-default btn-sm text-white' do %>
  <i class="fa fa-arrow-left pr-1" aria-hidden="true"></i>
  Voltar
<% end %>
<hr/>

<div class="btn-group menu-mobile" role="group" aria-label="Basic example">
  <%= link_to new_pedido_atestado_path, :class => 'btn btn-menu' do %>
    <i class="fa fa-edit fa-5x" aria-hidden="true"></i>
    Solicitar Atestado de Matrícula
  <% end %>
  <%= link_to buscapedido_path, :class => 'btn btn-menu2' do %>
    <i class="fa fa-search fa-5x pr-1" aria-hidden="true"></i>
    Buscar Pedido
  <% end %>
</div>
