<h2 style="font-weight: bold">BEM-VINDO</h2>
<p> Escolha abaixo o módulo que deseja acessar. Dados de login poderão ser necessários.</p>

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    <button type="button" class="btn btn-rounded btn-blue-grey ml-0 text-left"><a href="/home/home_aluno"><i class="fa fa-user fa-lg" aria-hidden="true"></i> Aluno</a></button>
    <button type="button" class="btn btn-rounded btn-blue-grey ml-0 text-left"><a href="/home/home_registro_academico"><i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i> Registro Acadêmico</a></button>
    <button type="button" class="btn btn-rounded btn-blue-grey ml-0 text-left"><a href="/home/home_biblioteca"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Biblioteca</a></button>
</div>
