<h1>BEM-VINDO</h1>
<p> Escolha abaixo o módulo que deseja acessar. Dados de login poderão ser necessários.</p>

<div>
  <%= link_to "Aluno", aluno_path %>
  <%# <a href="/home/home_aluno">Aluno</a> %>
</div>

<div>
  <%= link_to "Registro Acedêmico", registroacademico_path %>
  <%# <a href="/home/home_registro_academico">Registro Acadêmico</a> %>
</div>

<div>
  <%= link_to "Biblioteca", biblioteca_path %>
  <%# <a href="/home/home_biblioteca">Biblioteca</a> %>
</div>