<h2>Bem-vindo</h2>
<div class="pb-4"> Escolha abaixo o módulo que deseja acessar. Dados de login poderão ser necessários.</div>

<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
  <%= link_to aluno_path, :class => 'btn btn-index ml-0 text-left' do %>
    <i class="fa fa-user" aria-hidden="true"></i>
    Aluno
  <% end %>
  <%= link_to registroacademico_path, :class => 'btn btn-index ml-0 text-left' do %>
    <i class="fa fa-id-card-o" aria-hidden="true"></i>
    Registro Acadêmico
  <% end %>
  <%= link_to biblioteca_path, :class => 'btn btn-index ml-0 text-left' do %>
    <i class="fa fa-book" aria-hidden="true"></i>
    Biblioteca
  <% end %>
</div>
