<!-- Modal -->
<div class="modal fade" id="modal_andamento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">ANDAMENTO</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="andamento_pedido"></div>
      <div class="modal-footer">
      </div>
      </div>
    </div>
  </div>
</div>

<%= link_to request.referer, :class => 'col-sm-1 pull-right btn green-default btn-sm text-white' do %>
  <i class="fa fa-arrow-left pr-1" aria-hidden="true"></i>
  Voltar
<% end %>
<h4 class="font-weight-bold">Buscar Pedido</h4>
<div> Verifique o andamento dos pedidos referentes ao nº de pasta.</div>
<hr/>

<div id="div-busca">
  <input id="search" class="form-default" type="text" placeholder="Digite um nº de pasta" aria-label="Search" onkeypress="return SomenteNumero(event)" maxlength="6">
  <%= link_to "#", :id => 'btn-search', :class => 'btn blue-default px-3 btn-circle', data: {target: "#modal_andamento", toggle: "modal", url: pedido_atestados_get_situacao_path()} do %>
  <i class="fa fa-search" aria-hidden="true"></i><% end %>
</div>
