<%= link_to root_path, :class => 'pull-right btn green-default btn-sm text-white' do %>
  <i class="fa fa-arrow-left" aria-hidden="true"></i>
  Voltar
<% end %>
<h1 style="font-weight: bold;">Buscar Pedido</h1>
<p> Localize e verifique o andamento dos pedidos referentes ao nº de pasta.</p>
<hr />

<div id="div-busca" class="exactCenter">
  <div class="input-group md-form form-sm form-2 pl-0">
    <input class="form-control my-0 py-1 green-default-border" type="text" placeholder="Digite um nº de pasta" aria-label="Search">
    <div class="input-group-append">
        <span class="input-group-text green-default lighten-2" id="basic-text1"><i class="fa fa-search text-white" aria-hidden="true"></i></span>
    </div>
  </div>
</div>
