<%= link_to request.referer, :class => 'col-sm-1 pull-right btn green-default btn-sm text-white' do %>
  <i class="fa fa-arrow-left pr-1" aria-hidden="true"></i>
  Voltar
<% end %>
<h1 style="font-weight: bold;">Buscar Pedido</h1>
<p> Localize e verifique o andamento dos pedidos referentes ao nº de pasta.</p>
<hr />

<div id="div-busca" class="exactCenter">
  <div class="input-group form-xs">
    <input class="form-control my-0 py-1" type="text" placeholder="Digite um nº de pasta" aria-label="Search">
    <%= link_to "#", :class => 'btn btn-primary px-3 btn-circle', data: {target: "#modal_andamento", toggle: "modal",  index: "0"} do %>
    <i class="fa fa-search" aria-hidden="true"></i>
    <% end %>
  </div>
</div>

<%= render partial: "pedido_atestados/modal_andamento_pedido" %>
