<i class="fa fa-book icone" aria-hidden="true"></i><strong><h7> Módulo Biblioteca</h7></strong>
<%= link_to destroy_usuario_session_path, method: :delete, :class => 'col-sm-1 pull-right btn dark-default btn-sm text-white' do %>
  Sair
  <i class="fa fa-sign-out pl-1" aria-hidden="true"></i>
<% end %>
<hr/>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to pedidos_biblioteca_path, :class => 'btn btn-menu' do %>
    <i class="fa fa-id-badge fa-5x pr-2" aria-hidden="true"> </i>
     Aprovação de Nada Consta
  <% end %>
  <%= link_to buscapedido_path, :class => 'btn btn-menu2' do %>
    <i class="fa fa-search fa-5x pr-1" aria-hidden="true"></i>
    Buscar Pedido
  <% end %>
</div>
