/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require mdb
 *= require sticky-footer
 *= require font-awesome
 */

@media (max-device-width: 991px) and (orientation: portrait) {
  footer.card-footer {
    font-size: 2rem;
  }
  .btn-group-vertical a.btn-index {
    font-size: 3rem;
    padding: 35px;
  }
  #main h2,
  #main h3,
  #main h4 {
   font-size: 3.5rem;
  }
  .menu-mobile {
    flex-direction: column;
    display: grid !important;
  }
  .menu-mobile a.btn-menu,
  .menu-mobile a.btn-menu2 {
    border-radius: 10px !important;
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  #main h7,
  #main .icone {
    font-size: 2.5rem;
  }
  .btn.btn-sm.green-default,
  .btn.btn-sm .fa {
    display: none;
  }
  .btn.btn-sm {
    font-size: 1.5rem !important;
  }
  .form-default {
    font-size: 3.5rem;
    text-align: center;
  }
  #btn-search i {
    font-size: 4rem;
    padding: 10px;
  }
  div.actions input {
    font-size: 2.5rem;
    padding: 30px;
  }
  #div-login {
    margin-right: 0;
    margin-left: 0;
    max-width: fit-content;
    margin-left: 10% !important;
  }
  #div-login .div-btn .btn {
    font-size: inherit;
  }
}

@media (max-device-width: 1200px) and (orientation: portrait){
  a.navbar-brand {
    margin: auto;
  }
  .navbar-brand img {
    height: 5rem;
  }
  header {
    margin-bottom: 100px;
  }
  #main div,
  div.alert {
    font-size: 2rem;
  }
  .btn-group-vertical a.btn-index i {
    font-size: 4rem;
    padding: 15px;
  }
  #div-busca {
    display: grid;
    grid-row-gap: 10px;
    overflow: visible;
    max-width: fit-content !important;
  }
  .form-default div {
    display: grid;
    grid-row-gap: 10px;
  }
  .form-default div .form-control {
    font-size: 2.2rem;
    padding: 50px;
  }
  .custom-select {
    height: calc(5rem + 2px) !important;
    font-size: 2.2rem;
    padding-left: 50px !important;
  }
  .form-default div.mb-4{
    margin-bottom: 10px !important;
  }
  .form-default .mb-4.col-md-6.offset-md-3 {
    max-width: 100% !important;
    padding: 0;
    margin: 0;
  }
  #div-turno {
    text-align: left;
    margin-bottom: 20px;
  }
  #div-turno label {
    padding-left: 50px;
  }
  .custom-control-label::before {
    width: 3rem !important;
    height: 3rem !important;
  }
  .modal-dialog {
    max-width: 90% !important;
    margin: 20rem auto !important;
  }
  #status-bar,
  #msg-andamento,
  #detalhes_pedido div p {
    font-size: 1.7rem !important;
  }
  div.div-modal-default.alert-info {
    display: grid;
  }
  div.div-modal-default.alert-info div {
    left: 10px;
  }
  .close span {
    font-size: 5rem;
  }
  button.close {
    font-size: 3rem;
  }
  .alert-info label.custom-control-label {
    padding-left: 2rem;
  }
  #lembrar-me {
    display: block;
  }
  #lembrar-me .form-check-input {
    position: relative;
  }
  #div-login .div-btn {
    display: block;
    font-size: inherit;
  }
  #lista-pedidos p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  #lista-pedidos span.badge,
  #lista-pedidos small {
    font-size: 80% !important;
  }
  #lista-pedidos .btn .fa {
    font-size: 4rem;
    padding-left: 8px;
  }
  #btn-filtros button,
  #btn-filtros button i {
    display: inherit;
    font-size: 3.5rem;
  }
  #filtros .col-md-3 {
    flex: auto;
    max-width: inherit;
  }
  #btn-filtros {
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 1rem 0;
  }
  #filtros div.col-md-3 {
    padding-top: 0.6rem;
  }
  #btn-filtros .btn-sm{
    min-width: 100% !important;
    font-size: 1.5rem !important;
  }
  #btn-filtros .btn-sm i {
    font-size: 2rem !important;
  }
}

@media (min-device-width: 992px) and (max-device-width: 1200px) and (orientation: portrait){
  footer.card-footer {
    font-size: 1.8rem;
  }
  #main h2,
  #main h3,
  #main h4 {
    font-size: 3rem;
  }
  .btn-group-vertical a.btn-index {
    font-size: 2rem;
  }
  .menu-mobile a.btn {
    font-size: 1.3rem;
  }
  #main h7,
  #main .icone {
    font-size: 2rem;
  }
  .btn.btn-sm {
    max-width: 11%;
  }
  .btn.btn-sm,
  .btn.btn-sm .fa {
    font-size: 1rem !important;
  }
  #div-busca .form-default,
  #btn-search i {
    font-size: 2.5rem;
    text-align: center;
  }
  div.actions input {
    font-size: 1.5rem;
    padding: 20px;
  }
  #div-login {
    max-width: fit-content;
  }
  #div-login .div-btn .btn {
    font-size: 2.5rem;
  }
}

body {
  padding-top: 40px;
  width: 100%;
  background-color: #f4f4f4 !important;
  color: #333 !important;
  padding-bottom: 100px;
}
#main {
  padding: 0 50px;
  padding-bottom: inherit;
}
#main h2 {
  font-weight: bold;
  padding-top: 20px;
}
h1 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
.nav-color {
  background-color: #E9E7DA;
}
.btn-group {
  top: 30px;
}
.btn-group a {
  padding: 20px 50px 20px 30px;
}
.btn-group .btn-menu {
  color: #ededed;
  background-color: #333;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn-group .btn-menu2 {
  color: #ededed;
  background-color: #66AB8C;
}
.btn-group .btn-menu:hover,
.btn-group .btn-menu2:hover {
  color: #333;
  background-color: #E9E7DA;
}
.input-group.md-form.form-xs.form-2 input.green-default-border  {
  border: 1px solid #66AB8C;
}
.input-group.md-form.form-xs.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.green-default {
  background-color: #66AB8C !important;
}
.dark-default {
  background-color: #263238 !important;
}
.blue-default {
  background-color: rgb(81, 103, 210) !important;
}
#div-busca {
  max-width: 400px;
  margin: 100px auto;
}
.icone {
  border: 2px solid #333;
  padding: 2px 5px;
  border-radius: 40px;
  background-color: #333;
  color: #E9E7DA;
}
a.btn.pull-right {
  padding: 5px 10px !important;
}
.btn:hover {
  background-color: #E9E7DA !important;
  color: #333 !important;
  border-color: #333 !important;
}
.bg-gray {
  background-color: #263238;
  border-radius: 8px;
  padding: 10px;
}
.btn-search {
  margin: 0 0 0 4px !important;
  padding: 11px 18px !important;
}
.div-modal-default {
  border-radius: 5px;
  background-color: #ededed;
}
.link-path:hover, .link-path:visited {
  background-color: transparent;
  text-decoration: none;
  color: #333;
}
.btn-circle {
  border-radius: 20px !important;
  margin: 0 5px !important;
}
.form-default {
  border: 2px solid #ededed;
  padding: 10px;
  border-radius: 5px;
}
.modal-body {
  background-color: #ffff;
  border-radius: 5px;
}
.modal-content {
  background-color: #ededed !important;
}
div.progress {
  margin: 2rem;
}
.custom-radio .custom-control-label::before {
  background-color: #ffff;
}
/* >>>>>>>>>>>>>>>>>>>>>>> INDEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.btn-index {
  color: #ededed;
  background-color: #333;
  border-radius: 10px !important;
}
.btn-group-vertical a{
  color: #ededed;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 30px;
}
.btn-group-vertical a{
  margin-bottom: 10px;
}
.btn-group-vertical a:hover .fa{
  color: #333;
}
.btn-group-vertical a .fa {
  padding-right: 10px;
  font-size: 22px;
}
.btn-group-vertical .fa{
  color: #66AB8C;
}
