/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require sticky-footer
 *= require mdb
 *= require font-awesome
 */

body {
  padding-top: 30px;
  width: 100%;
  background-color: #f4f4f4 !important;
  color: #333 !important;
}
#main {
  padding: 0 50px;
}
h1 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
.nav-color{
  background-color: #E9E7DA;
}
#navbar a {
  font-weight: 900;
  color: #333;
}
#navbar .navbar-brand:hover {
  color: #66AB8C;
  background-color: transparent;
}
.btn-group {
  top: 30px;
}
.btn-group a {
  padding: 20px 50px 20px 30px;
}
.btn-group .btn-menu {
  color: #ededed;
  background-color: #333;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.btn-group .btn-menu2 {
  color: #ededed;
  background-color: #66AB8C;
}
.btn-group .btn-menu:hover,
.btn-group .btn-menu2:hover {
  color: #333;
  background-color: #E9E7DA;
}
.input-group.md-form.form-xs.form-2 input.green-default-border  {
    border: 1px solid #66AB8C;
}
.input-group.md-form.form-xs.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.green-default{
  background-color: #66AB8C !important;
}
#div-busca {
  background-color: #fff;
  max-width: 400px;
  margin: 100px auto;
}
.icone {
  border: 2px solid #333;
  padding: 2px 5px;
  border-radius: 40px;
  background-color: #333;
  color: #E9E7DA;
}
a.btn.pull-right {
  padding: 5px 10px !important;
}

/* >>>>>>>>>>>>>>>>>>>>>>> INDEX <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.btn-index {
  color: #ededed;
  background-color: #333;
  border-radius: 10px !important;
}
.btn-group-vertical a{
  color: #ededed;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 30px;
}
.btn-group-vertical a{
  margin-bottom: 10px;
}
.btn-group-vertical a:hover {
  color: #333;
  background-color: #E9E7DA;
}
.btn-group-vertical a:hover .fa{
  color: #333;
}
.btn-group-vertical a .fa {
  padding-right: 10px;
  font-size: 22px;
}
.btn-group-vertical .fa{
  color: #66AB8C;
}
